@model IEnumerable<WMMCRCNational.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>These page is a list of all the events listed on the home page.<br /> Use these pages to manage the events list on the home page.</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm("Index", "Events", FormMethod.Get))
{
    
    <div class="two-column">
        <label class="int-box">Find "Member Rides" by Year:</label>
        @Html.DropDownList("years", ViewData["YearDD"] as SelectList, "Select Year")
        <label class="text-danger">&nbsp;&nbsp;&nbsp;* if no year select then default to the current year </label>
    </div>

    <div class="two-column">
        <label class="int-box">Search Ride Notes:</label>
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
    </div>
    <br />
    <div class="two-column">
        <input type="submit" value="Search" id="search" class="btn btn-default" />&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Reset Search" id="reset" class="btn btn-default" />
    </div>
    <br />
}


<table class="table">
    <tr>
        <th>
            Chapter Name
        </th>
        <th>
           Event Title
        </th>
        <th>
          Event Date
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
       

         <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
